<%# special Rails function provide, to set a different tital on each page%>
<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
        <%# title 会出现在游览器的网页标签上，需要把 application.html.erb 改下文件名 %>
        <%# insert the title into the template using Ruby's yield function %>
        <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
        <h1>Sample App</h1>
        <p>
            This is the home page for the 
            <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial </a>
        </p>
    </body>
</html>

