<%# special Rails function provide, to set a different tital on each page%>
<% provide(:title, "Home") %>
<%# HTML structure could be removed, only leave the interior contents %>
<h1>Sample App</h1>
<p>
    This is the home page for the 
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial </a>
</p>


