<h1>New Article</h1>

<%# ---> article will be passed to the partial as a local variable
Because partials are shared code, it is best practice that they 
do not depend on specific instance variables set by a controller action. %>
<%= render "form", article: @article %>
<%# use partial via render %>