<%# if the partial view would be used in several controllers, it should be 
located at app/view/shared %>

<%# replace @user by object for a common usage %>
<% if object.errors.any? %> 
    <div id="error_explanation">
        <div class="alert alert-danger">
            The form contains <%= pluralize(object.errors.count, "error") %>.
        </div>
        <ul>
            <% object.errors.full_messages.each do |msg| %>
                <li><%= msg %></li> 
            <% end %>
        </ul>
    </div>
<% end %>